/* Custom scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(200, 200, 200, 1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: inset 0 0 6px rgba(90, 90, 90, 0.7);
}

/* responsive table */
.table-user {
    display: block;
}

.card-user {
    display: none;
}

/* css image gallery */
.square-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    background-color: #f8f9fa;
    overflow: hidden;
}

.square-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Loading */
#content {
    display: none;
}

#loading-screen {
    display: block;
}

.bars-5 {
    /* display: block; */
    z-index: 999;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-50%);
    transform: translateY(-50%);
    width: 45px;
    aspect-ratio: .75;
    --c: no-repeat linear-gradient(#88D66C 0 0);
    background:
        var(--c) 0% 100%,
        var(--c) 50% 100%,
        var(--c) 100% 100%;
    background-size: 20% 65%;
    animation: b5 1s infinite linear;
}

@keyframes b5 {
    20% {
        background-position: 0% 50%, 50% 100%, 100% 100%
    }

    40% {
        background-position: 0% 0%, 50% 50%, 100% 100%
    }

    60% {
        background-position: 0% 100%, 50% 0%, 100% 50%
    }

    80% {
        background-position: 0% 100%, 50% 100%, 100% 0%
    }
}

@media (max-width: 680px) {
    .table-user {
        display: none;
    }

    .card-user {
        display: block;
    }
}